footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-bottom: 0;
}

.active {
  color: #fff;
  background-color: #337ab7;
}

li {
  color: #337ab7;
  padding: 13px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
