<div class="container" align="center">

  <div class="row" align="left">
    <!-- LOGIN FORM begins-->
    <form name="loginForm" (ngSubmit)="loginForm.form.valid && loginStudent()" #loginForm="ngForm"
          (keydown)="clearErrorMessage()">

      <!-- Username INPUT form group begins-->
      <div class="form-group">
        <label for="inputUsername">username</label>
        <input type="text" class="form-control" id="inputUsername" name="inputUsername"
               [(ngModel)]="userLogin.userName" required #inputUsername="ngModel">
      </div>
      <!-- Username INPUT form group ends-->

      <!-- Password INPUT form group begins-->
      <div class="form-group">
        <label for="inputPassword">password</label>
        <input type="password" class="form-control" id="inputPassword" name="inputPassword"
               [(ngModel)]="userLogin.password" required #inputPassword="ngModel">
      </div>
      <!-- Password INPUT form group ends-->

      <!-- SUBMIT BUTTON, LOADING, ERROR MESSAGE div begins -->
      <div class="form-group text-center">
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-info">Login</button>

        <img *ngIf="loginSubmitted" src="../../../assets/loading.gif"/>
        <hr *ngIf="errorMessage || successMessage">
        <div *ngIf="errorMessage" class="alert alert-danger inheritfonts">{{errorMessage}}</div>
        <div *ngIf="successMessage" class="alert alert-success inheritfonts">{{successMessage}}</div>
      </div>
      <!-- SUBMIT BUTTON, LOADING, ERROR MESSAGE div ends -->

    </form> <!-- LOGIN FORM ends -->
  </div>

</div>
