.container {
  width: 80%;
}

.smallfonts {
  text-transform: none !important;
  font-size: smaller;
  letter-spacing: 1px;
}

a:hover {
  cursor: pointer;
}

.login-button-div{
  text-align: center;
}

.login-button {
  color: white;
  /*background-color: #00b3a7 !important;*/
  font-size: medium;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}
