<div class="container" align="center">

  <md-toolbar>Login</md-toolbar>
  <br>

  <!-- LOGIN FORM begins-->
  <form name="loginForm" (submit)="loginStudent()" [formGroup]="loginForm" novalidate
        (keydown)="clearErrorMessage()">

    <!-- Username INPUT form group begins-->
    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="Username" formControlName="userName" name="inputUsername"
             required>
    </md-input-container>
    <!-- Username INPUT form group ends-->

    <!-- Username error message div starts -->
    <div *ngIf="formErrors?.userName" class="alert alert-danger">
      {{ formErrors.userName}}
    </div>
    <!-- Username error message div ends -->

    <!-- Password INPUT form group begins-->
    <md-input-container class="full-width">
      <input type="password" mdInput placeholder="Password" formControlName="password" name="inputPassword"
             required>
    </md-input-container>
    <!-- Password INPUT form group ends-->

    <!-- Username error message div starts -->
    <div *ngIf="formErrors?.password" class="alert alert-danger">
      {{ formErrors.password}}
    </div>
    <!-- Username error message div ends -->

    <!-- SUBMIT BUTTON, LOADING, ERROR MESSAGE div begins -->

    <div class="form-group text-center">
      <button md-raised-button [disabled]="loginForm.status === 'INVALID'" type="submit">Login</button>
      <img *ngIf="loginSubmitted" src="../../../assets/loading.gif"/>
      <br><br>
      <div *ngIf="errorMessage" class="alert alert-danger inheritfonts">{{errorMessage}}</div>
      <div *ngIf="successMessage" class="alert alert-success inheritfonts">{{successMessage}}</div>
    </div>
    <!-- SUBMIT BUTTON, LOADING, ERROR MESSAGE div ends -->

  </form>
  <!-- LOGIN FORM ends -->

</div>
